
*{font-family: 'Montserrat', sans-serif I !important;}

.full-container{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.navBar{
    /*border-bottom: 2px solid black;
*/  
    background-image: linear-gradient(white, white ,white,white,white,white, rgb(79, 60, 143));
    
    display: block;
    position: fixed;
    padding-right: 4%;
    padding-left: 6%;
    width: 100%;
    height: 92px;
    z-index: 999;

}

.navBar .menu-btn{
    display: none;
}
.navBar .imgNavBar {
    margin-top: 0px;
    width: 140px;
    height: 50px;
    margin-top: 15px;
    margin-left: -60px;
    float: left;
    
}
.logoImg{
    width: 100%;
    height: 100%;
    
   
}
.navBar  .searchMain{ /*barra di ricerca*/
    gap: 1px;
    width: 550px;
    height: 65px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*margin-top: 600px;*/
    z-index: 1;
    float: left;

    border-radius: 45px;
    box-shadow: 0px -1px 0px 1px rgb(107, 62, 211);

    margin-top: 10px;
    margin-left:40px;
}

.background {
    width: 100%;
  }
  
.navBar ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 100%;
    float: right;
}

  
.navBar ul ul{
    
    border-radius: 20px;
    border: 1px solid #000000;
    background-color: white;
    height: auto;
    display:none;
    position: absolute;
    top: 100%; 
    left: -50%;
    border-style: solid;
    border-color: black;
    width: 200%;
    min-width: fit-content;

}
.navBar ul li {

    
    display: inline-block;
    position: relative;
}

.navBar ul ul li:last-child{
    border: none;
}

.navBar li {
    top: 0;
    float: right;
    padding-top: 13px;
    height: 100%;
    
}
.navBar .ul2 {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 100%;
    float: left;
}


ul li:hover ul{
    display: block;
    
}

.navBar>ul >li{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 10px;
}
.navBar ul li:hover{

    
    background-image: linear-gradient( white 30%, #4f3c8f);
    
}
.navBar ul li ul li:hover{

}

ul li li{
   
    border-radius: 20px;
    width: 100%;
    text-align: center;
    

}

.navBar ul ul li:hover{

    background-image: none;
    background-color: rgba(79, 60, 143,0.2);
}

li a {
    
    
    text-decoration: none;
    display: block;
    color: black;
    padding: 20px 30px;
    font-size: 17px;
}

ul li li a{
    padding: 10px 20px;
}
li li a{

    color: black;
}

@media only screen and (max-width: 1830px){
    .navBar{
        padding-right: 4%;
        padding-left: 2px;
    
    }
    .navBar  .searchMain{ /*barra di ricerca*/
        float: left;
        height: 68%; 
        margin-top: 8px;
        margin-left: 2%;

    }
}

@media only screen and (max-width: 1046px){
    
    .navBar>ul{

        left: 230px;
        /* float: right; */
        position: relative;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        margin-right: 40%;
        margin-top: 20px;
        width: 240px;
        background-color: white;
        height: auto;
        border-radius: 20px;
        display: none;
    }
    .navBar .firstUl{
        border: none;
    }
    .navBar ul  ul{
    
        width: 100%;
        top:0;
        left: -100%;
        position: absolute;
        z-index: 10;
    }

    .navBar ul li:hover{
        background-image: none;
        background-color: rgba(79, 60, 143,0.2) ;
    
    }

    .navBar ul li a{

        padding:10px 5px 10px 20px !important;
        color: black;
        font-size: 13px;
        float: right;
        
    }
    .navBar ul li{
        
        margin-left: 0 !important;
        box-sizing: border-box;
        border-radius: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 80px;
        position: relative;
    }
   
    .navBar .menu-btn:checked ~ ul{
        display: block;
    }
    
    .navBar .imgNavBar{
        float: right;
        margin-right: 20px;
    }
    .navBar .menu-icon{
        padding: 28px 28px;
        position: relative;
        float: right;
        margin: 10px;
        cursor: pointer;
    }
    .navBar .menu-icon .nav-icon{
    
        background-color: black;
        display: block;
        width: 28px;
        height: 5px;
        position: relative;
        transition: background-color .2s ease-out;
    }
    
    .navBar .menu-icon .nav-icon::after,
    .navBar .menu-icon .nav-icon::before{
    
        background-color: black;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        transition: all .2s ease-out;
        position: absolute;
    }
    .navBar .menu-icon .nav-icon::before{
        top:10px;
    }
    .navBar .menu-icon .nav-icon::after{
        top:-10px;
    }
    
    .navBar .menu-btn:checked ~ .menu-icon .nav-icon{

        background-color: transparent;
    }
    .navBar .menu-btn:checked ~ .menu-icon .nav-icon::before{

        transform: rotate(-45deg);
        top: 0px;
    }
    .navBar .menu-btn:checked ~ .menu-icon .nav-icon::after{

        transform: rotate(+45deg);
        top: 0px;
    }

    

}



