
<div class="full-container">

  <div class="navBar">


  <img [src]="logoImg" class="logoImg">

  <span class="searchResponsive">

    <input class="search-btn" id="search-btn" type="checkbox">
    <label for="search-btn" class="labelSearch" *ngIf="!isHome">
    <button mat-fab extended color="primary" class="buttonResponsive">
      <h2>Esplora</h2>
      <mat-icon>search</mat-icon>
      <!-- Cerca-->
    </button>
    </label>
    <div class="searchClass" *ngIf="!isHome">
      <app-search-bar></app-search-bar>
    </div>
  </span>
    <input class="menu-btn" id="menu-btn" type="checkbox">
      <label for="menu-btn" class="menu-icon">
        <span class="nav-icon"></span>
      </label>
    <ul>

      <li *ngIf="!isAutenticato()"><a href="Accedi" >Accedi</a></li>
      <li *ngIf="isAutenticato()"><div class="liImg"><div class="imgNavBar"><img src="{{getPicProfile()}}" alt=""></div></div>
        <ul>
          <li><a routerLink="/Profilo">Profilo </a></li>
          <li><a routerLink="/Chat" (click)="setDoingAccesso(false)">Chat</a></li>
          <li><a href="/Accedi" (click)="skipAutentication(true)">Diventa Professionista</a></li>
          <li><a routerLink="/Home">Logout</a></li>

        </ul>
      </li>
      <li *ngIf="!isHome"><a routerLink="Home">Home</a></li>
      <li><a routerLink="Annuncio" (click)="setLavoratore(false)" (click)="setDoingAccesso(false)" (click)="setCliente()">Pubblica  Annuncio</a></li>


    </ul>

</div>
<div class="content">

  <router-outlet ></router-outlet>

</div>
