
<div class="full-container">
    
  <div class="navBar">

    <input class="menu-btn" id="menu-btn" type="checkbox">
      <label for="menu-btn" class="menu-icon">
        <span class="nav-icon"></span>
      </label>
      <ul class="firstUl" *ngIf="isEsplora" class="searchMain">
        <app-search-bar></app-search-bar>
      </ul>
      <!-- ul class="ul2">
        <li *ngIf="!isHome"><a routerLink="Home">Skill Match</a></li>
      </ul-->
      <div class="imgNavBar"></div>
      <ul>
      
      <li *ngIf="!isAutenticato()"><a href="Accedi" >Accedi</a></li>
      <li *ngIf="isAutenticato()" style="padding: 0; margin-left: 20px;"><div class="imgNavBar"><img src="{{getPicProfile()}}" alt=""></div>
        <ul>
          <li><a routerLink="/Profilo">Profilo </a></li>
          <li><a routerLink="/Chat" (click)="setDoingAccesso(false)">Chat</a></li>
          <li><a href="/Accedi" (click)="skipAutentication(true)">Diventa Professionista</a></li>
          <li><a routerLink="/Home">Logout</a></li> 
        </ul>
      </li> 
      <li class="homelink" *ngIf="!isHome"><a routerLink="Home">Skill Match</a></li>
      <li><a routerLink="Chat" (click)="setLavoratore(false)" (click)="setDoingAccesso(false)">Pubblica  Annuncio</a></li>

      <!-- li><a routerLink="../Esplora/{{getParametriRicerca()}}">  
        <button mat-fab extended color="primary" [disabled]="!searchClick()">
          <mat-icon>search</mat-icon>
          Cerca
        </button>
        </a>
      </li-->
      
      <!--li><a style="pointer-events: none; cursor: default;">Esplora   <fa-icon [icon]="arrowIcon"></fa-icon></a>
        <ul>
          <li><a routerLink="/Esplora/Tecnologia">Tecnologia</a></li>
          <li><a routerLink="/Esplora/Edilizia">Edilizia</a></li>
          <li><a routerLink="/Esplora/Falegnameria">Falegnameria</a></li>
        </ul>
      </li-->
    </ul>

</div>

  <router-outlet ></router-outlet>

</div>
