

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 87; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}

li {
    float: right;
    padding: 10px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
}



.centered{
    display: inline-flex;
    height: 60%;
    width: 100%;
    justify-content:center;
    align-items: flex-start;
    margin-top: 7%;
}
.container{
    height: 100%;
}

.semicerchio{

    float: left;
}
mat-form-field {

    margin-right: 12px;
  }

li a:hover:not(.active) {
    background-color: #ffad89;
}

.active {
    background-color: #ffad89;
}