/.idea/
/SkillMatch/.idea/
/.idea/
/target/
/SkillMatchBackEnd/src/main/resources/image/*
!/SkillMatchBackEnd/src/main/resources/image/default.jpg
!/SkillMatchBackEnd/src/main/resources/image/imagedefault.avif