
    <div class="alert alert-primary" role="alert">
        RECUPERA LA TUA PASSWORD INSERISCI LA TUA EMAIL PER IL RECUPERO
       </div>

        <form [formGroup]="passwordValidators">

            <h3>Password: </h3><input type="password"formControlName="password">
            <h3>Reinserisci password: </h3><input type="password"formControlName="ripetiPassword">

        </form>

        <button type="button" class="btn btn-primary" [ngStyle]="{'background': passwordValidators.valid ? '#512da8':'grey'}"
         [disabled]="passwordValidators.hasError('mismatch')">Invia</button>

