
<div class="header">
    <ul>
        <li><a routerLink="/Profilo">Profilo</a></li>
        <li><a routerLink="/Chat">Chat</a></li>
    </ul>
</div>

    
    <div class="dashboard" #rightPart >
        <div class="leftPart">
            
            <div *ngFor="let annuncio of annunci; index as i">
        
                <div class="cardAnnuncio">
                
                <input class="proposteBtn" id="proposteBtn{{i}}" type="checkbox">
                <label for="proposteBtn{{i}}" class="cardAnnuncio">

                <div class="imgCard" ><img src="{{annuncio.img}}"></div>
                <div class="titoloDesc">
                    <div class="titoloCard">{{annuncio.titolo}}</div>
                    <div class="descrizioneCard">{{annuncio.descrizione}}</div>
                    
                    
                </div>
                {{getLavoratoriByIdAnnuncio(annuncio.id)}}
                <div class="containerProposta">
                    <div *ngFor="let proposta of proposte; index as j">
                       <div class="cardProposta"
                         (click)="setChatByUsernameAndId(proposta.username, annuncio.id)" (click)="visualizzaChatResponsive()">
                            <!--<input class="chatBtn" id="chatBtn{{j}}" type="checkbox">
                            <label for="chatBtn{{j}}" class="cardProposta">-->
                            <div class="imgCard"><img src="{{proposta.img}}"></div>
                            <div class="titoloDesc">
                                <div class="titoloCard">{{proposta.username}}</div>
                                <div class="descrizioneCard">{{proposta.descrizione}}</div>

                               
                            </div><!--</label>-->
                        </div>
                    </div>
                </div>
            </label></div>
            </div>
        
        <ng-container *ngIf="entita==='Cliente'">
            {{getAnnunciByUsernameLavoratore()}}
            <div *ngFor="let annuncio of annunci; index as i">
        
                <div class="cardAnnuncio" (click)="setChatByUsernameAndId(annuncio.username, annuncio.id)" (click)="visualizzaChatResponsive()">
                
                <input class="propostelavoratoreBtn" id="propostelavoratoreBtn{{i}}" type="checkbox">
                <label for="propostelavoratoreBtn{{i}}" class="cardAnnuncio">

                <div class="imgCard" ><img src="{{annuncio.img}}"></div>
                <div class="titoloDesc">
                    <div class="titoloCard">{{annuncio.titolo}}</div>
                    <div class="descrizioneCard">{{annuncio.descrizione}}</div>
                </div>
                </label>
                </div>  
                </div>
        </ng-container>    



        </div>
    <div class="rightPart">

            <app-chat-text [primoCaricamento]="primoCaricamento" [chat]="getChat()" (tornaDietro)="rimuoviChat()" ></app-chat-text>
        </div>
    </div>
   


