
<div class="containerMain">
  
  <div class="vetrina">
      <mat-card *ngFor="let annuncio of annunci" class="example-card">
        
        
        <!--<mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>-->
        <img mat-card-image src="{{annuncio.img}}" alt="Photo of a Shiba Inu" >

        <mat-card-header>
              

          <mat-card-title>{{annuncio.titolo}}</mat-card-title>
          <mat-card-subtitle>{{annuncio.ambito}} - {{annuncio.zona}} |  {{ annuncio.numeroStelle }}
            <img [src]="starImg" class="starImg" alt="Icona personalizzata"></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{annuncio.descrizione}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>CHAT</button>
          <button mat-button>CONDIVIDI</button>
        </mat-card-actions>
      </mat-card>



  

</div>