
<div class="contentSfondo">
  <h2 style="text-align: center;">annunci in vetrina</h2>
  <div class="vetrina">

  <div *ngFor="let annuncio of annunci">
    <div class="card">
    <mat-card class="example-card">
      
      <!--<mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>-->
      <img mat-card-image src="{{annuncio.img}}" alt="Photo of a Shiba Inu" style="z-index: 0;">
      <mat-card-content>
        <p>
          {{annuncio.descrizione}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>

  <div *ngFor="let annuncio of annunci">
    <div class="card">
    <mat-card class="example-card">
      
      <!--<mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>-->
      <img mat-card-image src="{{annuncio.img}}" alt="Photo of a Shiba Inu" style="z-index: 0;">
      <mat-card-content>
        <p>
          {{annuncio.descrizione}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>

  <div *ngFor="let annuncio of annunci">
    <div class="card">
    <mat-card class="example-card">
      
      <!--<mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>-->
      <img mat-card-image src="{{annuncio.img}}" alt="Photo of a Shiba Inu" style="z-index: 0;">
      <mat-card-content>
        <p>
          {{annuncio.descrizione}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
</div>

</div>