*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerMain{
  margin-top: 200px;
}

.vetrina{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  box-shadow: 4px 0px -1px rgb(107, 62, 211);  
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
  justify-content: center;
 
}

.example-card {
  width: calc(21% - 20px);
  max-height:13%;
  border-style:solid;
  border-width: thin;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgb(107, 62, 211);  
    margin-top: 15px;
    z-index: 1;
    overflow: hidden;
}
.mdc-card__media {
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 30px;
  
  width: 100%;
  height: 280px;
}
.mat-mdc-card-header {

  display: flex;
  padding: 16px 16px 0;
}
.mat-mdc-card-content{
  height: 140px;
  display: block;
  padding: 0 16px;
  overflow: hidden;
  white-space: overflow;
  text-overflow: ellipsis; 
}

.mat-mdc-button:not(:disabled) {
  color: var(--mdc-text-button-label-text-color);
  background-color: rgb(146, 111, 228);
  margin-top: 2px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 30px;
}
  /*.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }*/

.starImg{
  width: 35px;
  height: 20px;
  margin-bottom:5px;
  margin-right: 20px;
}
  @media only screen and (max-width: 1850px) {
    .mdc-card__media {
      height: 50%; /* Ridotto l'altezza dell'immagine per uno stile più proporzionato */
      object-fit: calc(100% - 20px); 
    }
    
  }
  @media only screen and (max-width: 1516px) {

    .example-card {
      width: calc(28% - 20px);
      max-height:10%;
      border-style:solid;
      border-width: thin;
      border-radius: 20px;
      box-shadow: 0px 4px 8px rgb(107, 62, 211);  
        margin-top: 15px;
        z-index: 1;
        overflow: hidden;
    }
    .mdc-card__media {
      height: 50%; /* Ridotto l'altezza dell'immagine per uno stile più proporzionato */
      object-fit: cover; 
    }
    
  }
  @media only screen and (max-width: 1180px) {

    .example-card {
      width: calc(40% - 20px);
      max-height:10%;
      border-style:solid;
      border-width: thin;
      border-radius: 20px;
      box-shadow: 0px 4px 8px rgb(107, 62, 211);  
        margin-top: 15px;
        z-index: 1;
        overflow: hidden;
    }
    .mdc-card__media {
      height: 50%; /* Ridotto l'altezza dell'immagine per uno stile più proporzionato */
      object-fit: cover; 
    }
    
  }

  @media only screen and (max-width: 700px) {
    .contentSfondo {
      margin-top: 150px; /* Ridotto lo spazio superiore */
    }
  
    .vetrina {
      margin-left: 10px; /* Ridotto lo spazio a sinistra */
      margin-right: 10px; /* Ridotto lo spazio a destra */
    }
    
    .example-card {
      width: calc(60% - 20px); /* 2 card per riga su schermi più piccoli */
      max-height: 10%;
    }
  
    .mdc-card__media {
      height: 50%; /* Ridotto l'altezza dell'immagine per uno stile più proporzionato */
      object-fit: contain; 
    }
    .mat-mdc-card-content{
      height: 140px;
      display: block;
      padding: 0 16px;
      

    }
  }
