
    <!-- input type="text" placeholder="Cerca annuncio..." style="height: 40px;">
    <fa-icon [icon]="icon"></fa-icon -->
    <div class="main">
      <div class="prova">
          <mat-form-field class="searchForm">
            <!-- mat-select matAutocompleteOrigin="search" -->
            <mat-label>Ambito</mat-label>
            <input type="text"
                  placeholder="Scegli un ambito"
                  aria-label="Ambito"
                  matInput
                  [matAutocomplete]="ambitoAuto"
                  [(ngModel)]="selectedAmbito"
                  (ngModelChange)="ambitoClicked(selectedAmbito)">
            <mat-autocomplete autoActiveFirstOption #ambitoAuto="matAutocomplete">
              @for (ab of ambiti; track ab) {
                <mat-option [value]="ab">{{ab}}</mat-option>
              }
            </mat-autocomplete>
          <!-- /mat-select--> 
          </mat-form-field>
      </div>
      
      <div class="prova">
        <mat-form-field class="searchForm">
          <!-- mat-select matAutocompleteOrigin="search" -->
          <mat-label>Zona di lavoro</mat-label>
          <input type="text"
                 placeholder="Scegli la tua zona"
                 aria-label="Provincia"
                 matInput
                 [matAutocomplete]="zonaAuto"
                 [(ngModel)]="selectedZona"
                 (ngModelChange)="zonaClicked(selectedZona)">
          <mat-autocomplete autoActiveFirstOption #zonaAuto="matAutocomplete">
            @for (pv of province; track pv) {
              <mat-option [value]="pv">{{pv}}</mat-option>
            }
          </mat-autocomplete>
        <!-- /mat-select-->
        </mat-form-field>
      </div>

      <div class="prova">
        <a routerLink="../Esplora/{{getParametriRicerca()}}" class="searchForm">  
        <button mat-fab extended color="primary" [disabled]="!searchValid()" (click)="searchClicked()">
          <mat-icon>search</mat-icon>
          <!-- Cerca-->
        </button>
        </a>
      </div>
    </div>



