.main{
  margin-top: 3px;
  display: flex;
  gap: 4px;
  height: 80px;
  align-items: center;
}
.prova2{
  width: 100%;
  height: 100%;
  margin-top:30px
}
.prova{
  width: 100%;
}
.searchForm{

  padding: 0 1%;
  width: 90%;
  height: 91%;
  display: flex;

  justify-content: center;
  z-index: 1;
}
.custom-dropdown {
  margin-top: 8px; /* regola questa cifra per adattarla al tuo layout */
}




/*bottone ricerca */
.mat-mdc-fab.mat-primary, html .mat-mdc-mini-fab.mat-primary{
  --mdc-fab-container-color: rgb(107, 62, 211);
  --mat-fab-foreground-color: #fff;
  --mat-fab-state-layer-color: #fff;
  --mat-fab-ripple-color: rgba(255, 255, 255, 0.1);
}
.mdc-fab{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--mdc-typography-button-font-family);
  font-size: var(--mdc-typography-button-font-size);
  line-height: var(--mdc-typography-button-line-height);
  font-weight: var(--mdc-typography-button-font-weight);
  letter-spacing: var(--mdc-typography-button-letter-spacing);
  text-decoration: var(--mdc-typography-button-text-decoration);
  text-transform: var(--mdc-typography-button-text-transform);
  border-radius: 24px;


  height: 50px;
  width: 61px;
  max-width: 100%;
  line-height: normal;

}
.mat-mdc-extended-fab>.mat-icon, .mat-mdc-extended-fab>.material-icons {
    justify-content: center;
    margin-left: -5px;
    margin-right: -10px;
}

.example-disabled {
  display: inline-block;
}

@media only screen and (max-width: 800px) {

  .main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
  }

  .searchForm {
    width: 100%;
    padding: 0 10px;
  }
  /*bottone ricerca */
  .mdc-fab--extended {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 4%;
    margin-bottom: 16.8%;
    height: 48px;

    width: auto;
    max-width: 100%;
    line-height: normal;
  }
}

@media only screen and (max-width: 692px) {
    /*.main{
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: 300px;
    }
    .searchForm {
        padding: 0 5%;
        width: 90%;
    }

    /*bottone ricerca */
    .mdc-fab--extended {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -7%;
        margin-bottom: 16.8%;
        height: 40px;

        width: 80%;
        max-width: 100%;
        line-height: normal;
    }
}
