<!-- input type="text" placeholder="Cerca annuncio..." style="height: 40px;">
    <fa-icon [icon]="icon"></fa-icon -->
<div class="main">
  <div class="prova">
    <mat-form-field class="searchForm">
      <!-- mat-select matAutocompleteOrigin="search" -->
      <mat-label>Ambito</mat-label>
      <input type="text"
             placeholder="Scegli un ambito"
             aria-label="Ambito"
             matInput
             [matAutocomplete]="ambitoAuto"
             [(ngModel)]="selectedAmbito"
             (ngModelChange)="ambitoClicked(selectedAmbito)">
      <mat-autocomplete #ambitoAuto="matAutocomplete">
        <ng-container *ngFor="let ab of ambiti">
          <mat-option [value]="ab.nome">
            <!-- Utilizza l'operatore ternario per cambiare il nome dell'opzione in base alla condizione -->
            {{ ab.consigliato ? ab.nome + ' (Consigliata)' : ab.nome }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <!-- /mat-select-->
    </mat-form-field>
  </div>

  <div class="prova">
    <mat-form-field class="searchForm">
      <mat-label>Zona di lavoro</mat-label>
      <input type="text"
             placeholder="Scegli la tua zona"
             aria-label="Provincia"
             matInput
             [matAutocomplete]="zonaAuto"
             [(ngModel)]="selectedZona"
             (ngModelChange)="zonaClicked(selectedZona)">
      <mat-autocomplete #zonaAuto="matAutocomplete">
        <ng-container *ngFor="let pv of province">
          <mat-option [value]="pv.nome">
            <!-- Utilizza l'operatore ternario per cambiare il nome dell'opzione in base alla condizione -->
            {{ pv.consigliata ? pv.nome + ' (Consigliata)' : pv.nome }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </div>


  <div class="prova">

    <button mat-fab extended color="primary" (click)="searchClicked()">
      <mat-icon>search</mat-icon>
      <!-- Cerca-->
    </button>

  </div>
</div>
