
<body [ngClass]="{'body': isHome , 'bodyNone' : !isHome}">
  
  <div class="full-container">

    
    <div class="navBar">

      <input class="menu-btn" id="menu-btn" type="checkbox">
        <label for="menu-btn" class="menu-icon">
          <span class="nav-icon"></span>
        </label>
        <div class="imgNavBar"><img src="../assets/semicerchio.png"></div>
      <ul>

        <li *ngIf="!isAutenticato()" (click)="setDoingAccesso(true)"><a  href="#" routerLink="Accedi" >Accedi</a></li>
        <li *ngIf="isAutenticato()" style="padding: 0;"><div class="imgNavBar"><img src="../assets/default.jpg" alt=""></div>
          <ul>
            <li><a routerLink="/Profilo">Profilo </a></li>
            <li><a routerLink="/Annuncio" (click)="setDoingAccesso(false)">Pubblica Annuncio</a></li>
            <li><a routerLink="/Home">logout</a></li>
          </ul>
        </li>
        <li *ngIf="!isHome"><a routerLink="Home">Home</a></li>
        <li><a routerLink="Annuncio" (click)="setLavoratore(false)" (click)="setDoingAccesso(false)">Pubblica  Annuncio</a></li>
        
        <li><a style="pointer-events: none; cursor: default;">Esplora   <fa-icon [icon]="arrowIcon"></fa-icon></a>
          <ul>
            <li><a routerLink="/Esplora/Tecnologia">Tecnologia</a></li>
            <li><a routerLink="/Esplora/Edilizia">Edilizia</a></li>
            <li><a routerLink="/Esplora/Falegnameria">Falegnameria</a></li>
          </ul>
        </li>
      </ul>

  </div>
  <div [ngClass]="{'contentSfondo': setSfondo, 'content': !setSfondo}">
          <router-outlet style="z-index: 0;"></router-outlet>
  </div>
</div>
</body>


