
<body>

<div class="container">

  
    <img src="../assets/sfondo.jpg" class="background-image">
 
      <ul>
        <li style="margin-right: 50px;"><a class="active" href="#about" routerLink="Accedi" >Accedi</a></li>
        <li><a href="#news" routerLink="Info">Info</a></li>
        <li><a href="#contact" routerLink="Contatti">Contatti</a></li>
      </ul>
      <div class="semicerchio">
        <img src="../assets/semicerchio.png">
      </div>
     
  
 
  </div>


  <app-cards-vetrina></app-cards-vetrina>


</body>

  <router-outlet></router-outlet>
