
<body>

  <div class="container">
      <ul>
        <li style="margin-right: 50px;"><a class="active" href="#about" routerLink="Accedi" >Accedi</a></li>
        <li><a href="#news" routerLink="Info">Info</a></li>
        <li><a href="#contact" routerLink="Contatti">Contatti</a></li>
      </ul>
      <div class="semicerchio">
        <img src="../assets/semicerchio.png">
      </div>
     
  
  
  <div class="centered">
    <input style="height: 30px; width: 600px;">
  </div>
 
  </div>
  </body>

  <router-outlet></router-outlet>
