.full-container{

    
    width: 768px;
    height: 480px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white ;
    z-index: 999;
}


.full-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 100%;
}


.full-container div:hover{

    background-color:  rgb(180, 164, 220);
}
img{

    width: 260px;
    height: 200px;
}

.img:hover{
    background-color:  rgb(81, 45, 168);
}

@media only screen and (max-width:1024px){

    h1{
        font-size: 20px;
        font-weight: 500;
    }

    img{

        width: 170px;
        height: 120px;
    }
}