*{
  font-family: 'Montserrat', sans-serif;

}

h2{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
.vetrinaAnnunci{
  box-shadow: 0px -1px 0px 0px rgb(107, 62, 211);
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.centered{
  gap: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  width: 100%;

  z-index: 1;
  margin-top: 1px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.vetrinaHome{

  margin-top: 280px;
}
.centered h1{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  font-size: 5vw;
  font-weight: 900;
  overflow-wrap: break-word;
  line-height: 40px;
  letter-spacing: 10px;
}

/*barra di ricerca */
.searchClass{
  gap: 6px;
  width: 560px;
  background-color: white;
  height: 70px;
  display: flex;
  /*margin-left: 665px;*/
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 30px;
  z-index: 1;
  border-radius: 45px;
  box-shadow: 0px 0px 1px 2px rgb(107, 62, 211);

}
.testo{

  display: flex;
  justify-content: center;
  column-gap: 20px;
}

@media only screen and (min-width: 1600px) {

  .centered h1{
    line-height: 60px;
  }
}@media only screen and (max-width: 1091px) {

  .centered h1 {
    height: 150px;
    margin-top: 0px;
    word-wrap: break-word;
    letter-spacing: 10px;
  }
}
@media only screen and (max-width: 1091px) {

  .centered h1 {
    height: 150px;
    margin-top: 0px;
    word-wrap: break-word;
    letter-spacing: 10px;
  }
}
@media only screen and (max-width: 800px) {

  .centered h1 {

    font-size: 5vw;
  }

  .searchClass{
    height: 350px;
    width: 50%;
  }
  /*.searchClass{
      gap: 6px;
      width: 400px;
      height: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      z-index: 1;
      border-radius: 45px;
      box-shadow: 0px 0px 1px 2px rgb(107, 62, 211);
  }*/
}
