<div class="content">
<div class="pannelloTotale">
    <input class="recensioniBtn" id="recensioniBtn" type="checkbox">
    <div class="pannelloTitolo">
    <h1>LASCIA UNA RECENSIONE</h1> 
    
    <div class="rating">
       <h1>4,5</h1> <img [src]="starImg" class="starImg">
       <label for="recensioniBtn"style="float: right;"><fa-icon [icon]="ArrowDown" size="2x" style="margin-right: 30px;"></fa-icon></label>
    </div>
    </div>
    <div class="pannelloRecensioni">
        
    <ng-container *ngFor="let annuncio of annunci">
        <div class="containerRecensioni" *ngIf="annuncio.stato==='accettata'">
            {{setPropostaAccettata(annuncio.id)}}
            <div class="divImg"><img src={{getPropostaAccettataImg()}}></div>
            <div class="recensioniArea">
                <div class="divNome"><h1>{{getPropostaAccettataNome()}}</h1></div>
                <div class="divRelativo"><h2>Relativo all'annuncio:{{annuncio.titolo}}</h2></div>
                <div class="divRecensione"><textarea></textarea></div>
                <div class="divButton">
                    <div class="divStelle">
                    <ng-container *ngFor="let voto of [5,4,3,2,1]">

                        <input class="votoBtn" id="votoBtn{{voto}}" type="checkbox">
                        <label for="votoBtn{{voto}}" class="starLabel" (click)="setStarsClicked(voto)">
                        <img [src]="starImg" class="starImg">
                        </label>
                        
                    
                    </ng-container>
                </div>

                    <h2>Lascia una recensione</h2><button mat-button [disabled]="!isStarsClicked()">Invia</button></div>
            </div>
        </div>
    </ng-container>
</div>
</div>
<div class="pannelloRecensioniConcluse">
    <div class="pannelloTitolo">
        <h1>LE TUE RECENSIONI</h1>
   
    <input class="recensioni2Btn" id="recensioni2Btn" type="checkbox">
    <label for="recensioni2Btn"style="float: right;"><fa-icon [icon]="ArrowDown" size="2x" style="margin-right: 30px;"></fa-icon></label>
    
    </div>
    <div class="pannelloRecensioni">
    
    </div>

</div>
</div>