*{font-family: 'Montserrat', sans-serif}

.content{

  display: flex;
  flex-wrap: wrap;
  width: 100vw;

}
.pannelloTotale{
  margin-top: 50px;
  width: 58%;

}
.pannelloRecensioniConcluse{

  margin-left: 2%;
  width: 58%;

  margin-top: 50px;
}
.pannelloTotale h1{

  float: left;
  margin-left: 20px;
  display: inline;

}
h1{
  font-size: 20px;
}
.pannelloRecensioni{
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  background-image: linear-gradient(white,rgb(79, 60, 143));
  max-height: 0px;/* da risolvere, si bugga perchè nazza è scemo */
  transition: 5s max-height ease-in-out;
}

.recensioniBtn, .recensioni2Btn{

  display: none;
}
.recensioniBtn:checked ~ .pannelloRecensioni{
  max-height: fit-content;

}
.recensioni2Btn:checked ~ .pannelloRecensioni{
  max-height: fit-content;
}

.pannelloTitolo{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating{
  display: flex;
  justify-content: center;
}
.containerRecensioni{
  display: flex;
  margin-top: 50px;
  width: 100%;
  height: 250px;
  color: black;
  border-radius: 20px;
  font-size: 12px;
}
.containerRecensioni .divImg{
  width: 25%;
  height: fit-content;

  align-self: center;
  border: 1px solid black;
}

.divImg img{

  width: 100%;
  height: 100%;
  object-fit: contain;
}

.containerRecensioni .recensioniArea{

  display: flex;
  flex-wrap: wrap;
  width: 75%;
  background-color: #f9faf9;
  border-radius: 20px;
  border: 1px solid black;
  overflow: hidden;
  font-size: 15px;

}

.recensioniArea .divNome{
  padding-left: 20px;
  width: 30%;
  height: 20%;
  background-color: rgb(213, 208, 233);
  font-weight: 500;

}
.recensioniArea .divRelativo{
  width: 70%;
  height: 20%;
  background-color: rgb(160, 148, 203);;

}
.recensioniArea h2{
  display: inline;
  font-size: 17px;
}
.recensioniArea .divRecensione{
  display: flex;
  width: 100%;
  height: 60%;
  background-color: #f0f0f3;
  align-items: center;
}
.divRecensione textarea{
  width: 100%;
  height: 100%;
  padding: 10px;
}
.recensioniArea .divButton{
  display: flex;
  gap: 20px;
  width: 100%;
  height: 20%;
  background-color: rgb(213, 208, 233);
  color: black;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.mat-mdc-button:not(:disabled) {
  color: var(--mdc-text-button-label-text-color);
  background-color: rgb(146, 111, 228);
  margin-top: 2px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 30px;
}

.mat-mdc-button:disabled{
  /* Stili personalizzati per il bottone quando è disabilitato */
  opacity: 0.6; /* Esempio: riduzione dell'opacità quando disabilitato */
  cursor: not-allowed; /* Esempio: cambia il cursore quando disabilitato */
  color: var(--mdc-text-button-label-text-color);
  background-color: rgb(146, 111, 228);
  margin-top: 2px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 30px;
}

.starImg{
  width: 26px;
  height: 25px;
  margin: 3px 10px
}

.starImgRecensito{
  width: 26px;
  height: 25px;
  margin: 0;
}
.divStelle{

  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.votoBtn{
  display: none;
}
.divButton .starImg
{
  width: 20px;
  height: 20px;
  margin: 3px 0;
  filter: brightness(0%);
}

.divButton .votoBtn:checked ~ .starLabel .starImg{
  filter: brightness(100%);
}

.divButton .starImg:hover {
  filter: brightness(100%);
}
@media only screen and (min-width: 1600px) {

  .containerRecensioni .recensioniArea{
    width: 75%;
  }
  .containerRecensioni .divImg{
    width: 25%;
  }



}

@media only screen and (max-width: 1024px){


  .pannelloTotale{

    margin-left: 5%;
    width: 90%;
  }
  .content h1{

    font-size: 18px;
  }


}

@media only screen and (max-width: 800px){


  .pannelloTotale{

    width: 90%;
  }
  .content h1{

    font-size: 16px;

  }
  .content h2{
    font-size: 13px;
  }
}
