*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }


.header ul{
    display: flex;
    justify-content: center;
}
.header ul li{

    padding-right: 25px;
    padding-left: 25px;
}
.header li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 0px 0px !important;
    cursor:pointer;
}

.header{
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    margin-left: 0px;
    width: 100%;
    background-color: black;
}

.dashboard{
    background-image: linear-gradient(white, rgb(219, 213, 230), rgb(202, 186, 234) ) ;
    height: 1080px;
    width: 90vw;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    box-shadow: 0px 10px 10px  rgba(0,0,0,1);
    border-radius: 11px;
    border: 1px solid black;
    overflow-x: hidden;
    /*background-image: linear-gradient(rgb(218, 160, 252), rgb(140, 140, 218),white);*/
}

.matita{
    float: right;
    padding-right: 50px;

}


.imgCard{


    width: 30%;
    height: 100%;
    overflow: hidden;
}
.imgCard img{

    object-fit: cover;
    border-radius: 20px;
    width: 90%;
    height: 100%;
}

.titoloCard{


    text-align: left;
    width: 100%;
    height: 50%;
}

.titoloDesc{

    width: 70%;
    display: flex;
    flex-direction: column;
}
.descrizioneCard{

    overflow: hidden;
    font-size: auto;
    width: 100%;
    height: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.annuncioBtn{

    display: none;

}
.cardAnnuncio{


    display: flex;
    height: 100px;
    width: 30%;

}
.cardAnnuncioLabel{
    width: 100%;
    display: flex;
}
.cardAnnuncio, .cardProposta, .containerProposta{
    border: 1px solid black;
    border-radius: 5px;
}


.titolo{
    width: 100%;
}
.titolo h1{
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 600;
}
.leftPart{

    overflow: visible;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}


.toggleCrea{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 0;
    height: 200px;
    width: 150px;
    background-color: rgb(41, 16, 69);
    color: white;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 1px solid black;
    padding: 25px 0 25px 10px;


}
.toggleCreaRovesciato{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    right: calc(-70% + -150px);
    transform: scaleX(-1);
    height: 200px;
    width: 150px;
    background-color: rgb(41, 16, 69);
    color: white;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 1px solid black;
    padding: 25px 0 25px 10px;

}
.toggleCreaRovesciato h2{

    transform: scaleX(-1);
}

.rightPart{
    height:740px;
    box-shadow: 0px 0px 10px 2px rgb(157, 130, 221);
    border-radius: 11px;
    overflow: visible;
    width: 70%;
    text-align: center;
    margin-right: 0px;
    z-index: 1;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    position: absolute;
    top: 100px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    right: -70%;

}

.crea-btn{
    display: none;
}

.chiudi-btn{
    display: none;
}

.matita ~ .rightPart, .annuncioSceltoActiveContainer ~ .rightPart{


    animation: moveLeft 2s;
    right: 15%;
}
.matita ~ .toggleCrea{
    animation: moveLeftToggle 2s;
    right: 85%;
}

.matita ~  .toggleCreaRovesciato, .annuncioSceltoActiveContainer ~  .toggleCreaRovesciato{
    animation: moveLeftToggleRovesciato 2s;
    right: calc(15% - 150px);
}
.annuncioSceltoActiveContainer ~  .toggleCrea{
    display: none;
}
.linguettaRovesciata ~ .rightPart{

    animation:  moveRight 2s;
    right: -70%;
}

.linguettaRovesciata ~ .toggleCreaRovesciato{

    animation:  moveRightToggleRovesciato 2s;
    right: calc(-70% - 150px);

}

.linguettaRovesciata ~ .toggleCrea{

    animation:  moveRightToggle 2s;
    right: 0;
}



@keyframes moveLeft {
    0% { right: -70%; }
    70% { right: 20%; }
    85% { right: 10%; }
    100% { right: 15%; }
  }
@keyframes moveLeftToggle{

    0%{ right: 0;}
    70% { right: 90%; }
    85% { right: 80%; }
    100%{right: 85%;}
}
@keyframes moveLeftToggleRovesciato{

    0%{ right: calc(-70% + -150px);}
    70% { right: calc(20% + -150px); }
    85% { right: calc(10% + -150px); }
    100%{right: calc(15% + -150px);}
}
@keyframes moveRight{

    0%{ right: 15%;}
    100%{ right: -70%}
}
@keyframes moveRightToggle{

    0%{ right: 85%;}
    100%{ right: 0}
}
@keyframes moveRightToggleRovesciato{

    0%{ right: calc(15% - 150px);}
    100%{ right: calc(-70% - 150px)}
}




@media only screen and (max-width: 1024px){

    .dashboard{
        flex-direction: column;
        align-items: center;
    }
    .dashboard .rightPart{
        margin-right: 0px;
    }
}
