<!--<div *ngIf="!isAutenticato()"><app-accedi></app-accedi></div>-->

<!--<div *ngIf="isAutenticato()">-->



    <div class="dashboard">
        <div class="leftPart">


            <div class="titolo"><h1>I tuoi Annunci</h1></div>
          
            <!--*ngIf="proposta.id===annuncio.id"><img src="{{proposta.img}}"-->
            <div class="cardAnnuncio" *ngFor="let annuncio of annunci">
            
                <div class="imgCard" ><img src="{{annuncio.img}}"></div>
                <div class="titoloDesc">
                    <div class="titoloCard">{{annuncio.titolo}}</div>
                    <div class="descrizioneCard">{{annuncio.descrizione}}</div>
                </div>
                
            </div>
        </div>
      
            

        <div class="rightPart">

            <app-form-annuncio></app-form-annuncio>
            
        </div>
    </div>

