*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
.dashboard{
    height: 1300px;
    width: 1200px;
    display:flex;
    flex-direction: row;
    gap:0px;
    justify-content: center;
    box-shadow: 0px 10px 10px  rgba(0,0,0,1);
    border-radius: 11px;
}
.leftPart{
    background-color: skyblue;
    height:100% !important;
    border-radius: 11px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 10px  rgba(0,0,0,1);
    width: 30%;
    text-align: center;
}
.rightPart{
    height:100% !important;
    width: 70%;
    background-color: white;
    border-radius: 11px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.rightPart form{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
  }
.rightPart button{
    
    background-color: rgb(106, 171, 211);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;

}
.contenitoreA{
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: blueviolet 1px solid;
}
.contenitore{
    width: 100% !important;
  height: 100% !important;
  flex-wrap: wrap;
  display: flex;
  gap: 60px;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr;

  
}
.matA{
    border-radius:40px;
    height: 80px;

}

@media only screen and (max-width: 1024px){

    .dashboard{
        flex-direction: column;
        align-items: center;
    }
    .dashboard .rightPart{
        margin-right: 0px;
    }
}