<div class="contentSfondo">
<div class="container" #container>
    <div class="contenitoreScelta" #componentScelta *ngIf="doingAccesso() && !skipAutentication()" >
        <app-scelta-utente (mandaSceltaUtente)="onRiceviScelta($event)"></app-scelta-utente>
    </div>
    <div class="form-container sign-in">
        <form [formGroup]="loginForm" (ngSubmit)="doLogin() ">
            <h1>Accedi</h1>

            <!--<div id="g_id_onload"
                   data-client_id="549457029113-7dcap37mikasnu6qociaelhp4bk8o691.apps.googleusercontent.com"
                   data-context="use"
                   data-ux_mode="popup"
                   data-callback="handleOauthResponse"
                   data-auto_prompt="false"
                   >
              </div>

              <div class="g_id_signin"
                   data-type="icon"
                   data-shape="circle"
                   data-theme="filled_black"
                   data-text="signin"
                   data-size="large">
              </div>-->

            <span>Oppure usa la tua Email e password</span>
            <input type="email" placeholder="Email" formControlName="email">
            <input type="password" placeholder="Password" formControlName="password" >
            <a href="Recupero" style="color: black"><span>password dimenticata? Recuperala da qui</span></a>
            <a routerLink="/Profilo"></a><button type="submit"  [ngStyle]="{'background': loginForm.valid ? '#512da8':'grey'}">Accedi</button>
        </form>
    </div>

    <div class="form-container sign-up">
        <form [formGroup]="credenzialiForm " (ngSubmit)="onSubmit() ">

            <h1 *ngIf="scelta==='lavoratore'">Crea Account Lavoratore</h1>
            <h1 *ngIf="scelta!=='lavoratore'">Crea Account Cliente</h1>
            <div class="social-icons">

              <div id="g_id_onload"
                   data-client_id="549457029113-7dcap37mikasnu6qociaelhp4bk8o691.apps.googleusercontent.com"
                   data-context="use"
                   data-ux_mode="popup"
                   data-callback="handleOauthResponse"
                   data-auto_prompt="false"
                   >
              </div>

              <div class="g_id_signin"
                   data-type="icon"
                   data-shape="circle"
                   data-theme="filled_black"
                   data-text="signin"
                   data-size="large">
              </div>
            </div>
            <span>Oppure crea un account utilizzando la tua Email</span>
            <input type="text" placeholder="Username" formControlName="username">
            <input type="email" placeholder="Email" formControlName="email">
            <input type="password" placeholder="Password" formControlName="password">
            <input type="password" placeholder="Conferma Password"  formControlName="confermaPassword">
            <button type="submit"  [ngStyle]="{'background': checkPassword(credenzialiForm) && this.credenzialiForm.valid ? '#512da8':'grey'}"
             [disabled]="!checkPassword(credenzialiForm)">Registrati</button>
        </form>
    </div>


    <div class="form-container generalitaForm">
        <form [formGroup]="generalitaForm" (ngSubmit)="onSubmit()">

            <div><fa-icon style="display: inline; padding: 10px;" [icon]="arrowLeft" (click)="clickArrow()"></fa-icon> <h1 style="display: inline-block;">Registrati</h1></div>
            <input  placeholder="Nome" formControlName="nome">
            <input placeholder="Cognome" formControlName="cognome">
            <mat-form-field style="margin:20px">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataNascita">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
            <h4>Provincia</h4>
                <mat-form-field >
                <mat-label>provincia</mat-label>
                    <mat-select formControlName="provincia">
                    <mat-option>None</mat-option>
                    @for (pv of province; track pv) {
                        <mat-option [value]="pv">{{pv}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>
            </div>

            <button type="submit"  [ngStyle]="{'background': generalitaForm.valid ? '#512da8':'grey'}" *ngIf="scelta!=='lavoratore' && !doingAccesso()">
                <a  routerLink="/Annuncio">Registrati</a></button>
            <button type="submit"  [ngStyle]="{'background': generalitaForm.valid ? '#512da8':'grey'}" *ngIf="scelta!=='lavoratore' && doingAccesso()" )>
                    <a  routerLink="/Profilo">Registrati</a></button>
            <button type="submit"  [ngStyle]="{'background': generalitaForm.valid ? '#512da8':'grey'}" *ngIf="scelta==='lavoratore'">Registrati</button>


        </form>

    </div>


    <div class="form-container ambitoClass" *ngIf="scelta==='lavoratore'">

        <form [formGroup]="ambitoForm" (ngSubmit)="onSubmit()">

            <div class="contenitore">
                <div class="contenitoreB" style="margin-top: 10px;">
                    <h1 style="margin-right: 10px;">Registrati   </h1>
                    <fa-icon [icon]="arrowLeft" (click)="clickArrow()"></fa-icon>
                </div>
            <div class="contenitoreA">
            <div>
                <h4>Foto Profilo(opzionale)</h4>
                <img [src]="url" height="50px" width="50px" style="margin-right: 10px;">
                <input type="file" (change)="onSelectFile($event)" style="width: 250px" >
            </div>

            <div style="margin-right: 90px;">
            <h4>zona di competenza</h4>
                <mat-form-field >
                <mat-label>Zona</mat-label>
                    <mat-select formControlName="zona">
                    <mat-option>None</mat-option>
                    @for (pv of province; track pv) {
                        <mat-option [value]="pv">{{pv}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
            </div>
            </div>

            <div class="contenitoreA">
            <div>
                <h4>ambito di lavoro</h4>
                <mat-form-field>
                    <mat-label>Ambiti</mat-label>
                    <mat-select formControlName="ambito" multiple>
                        @for (ab of ambiti; track ab) {
                        <mat-option [value]="ab">{{ab.nome}}</mat-option>
                        }
                    </mat-select>
                  </mat-form-field>

            </div>
            <div>
                <h4>Descrizione sulle tue abilita (opzionale) </h4>
                <mat-form-field>
                <mat-label >Textarea</mat-label>
                <textarea matInput style></textarea>
                </mat-form-field>
            </div>

            </div>
            <div class="contenitoreB" style="margin-bottom: 5px;">
                <button type="submit" [ngStyle]="{'background': ambitoForm.valid ? '#512da8':'grey'}"> Registrati </button>
            </div>

        </div>
        </form>

    </div>



    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
              <h1 *ngIf="scelta==='lavoratore'">Benvenuto Lavoratore</h1>
              <h1 *ngIf="scelta!=='lavoratore'">Benvenuto Cliente</h1>
              <p class="hide">Inserisci i tuoi dati personali per registrarti e utilizzare il sito </p>

              <p class="switch" (click)="removeActive()">hai gia un account? effettua l'accesso da qui</p>
                <button class="hidden" #login (click)="removeActive()">Login</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1 *ngIf="scelta==='lavoratore'">Benvenuto Lavoratore</h1>
                <h1 *ngIf="scelta==='lavoratore'">Benvenuto Cliente</h1>
              <p class="hide">Inserisci i tuoi dati personali per usufruire del sito </p>
              <p class="switch" (click)="addActive()">non hai ancora un account? effetua la registrazione da qui</p>
                <button class="hidden" #register (click)="addActive()">Registrati</button>
            </div>
        </div>
    </div>


    <app-riepilogo-dati *ngIf="scelta==='lavoratore' && riepilogoDati"[utente]="lavoratore"[scelta]="'lavoratore'"></app-riepilogo-dati>
  <app-riepilogo-dati *ngIf="scelta==='cliente' && riepilogoDati"[utente]="cliente" [scelta]="'lavoratore'"></app-riepilogo-dati>

</div>
</div>





