*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

app-scelta-utente{
  display:flex;
  
}
.remove app-scelta-utente{
  display: none;
}

.contentSfondo{

  padding-top: 180px;
  display: flex;
  justify-content: center;

}
.container{

  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 30px 60px  rgba(0,0,0,1);
  position: relative;
  top: -50px;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span{
  font-size: 12px;
}
.container a{
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
}




.container button{
  background-color: gray;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container.attivaBottone button{
  background-color: #512da8 ;
}
.container button.hidden{
  background-color: transparent;
  border-color: #fff;
}
input.ng-invalid.ng-touched{
  background-color: rgb(233, 71, 71) !important;

}



.container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}
.container input{
  background-color: #eee;
  border:none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline:none ;

}
.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}


/*sign in*/
.sign-in{
  left: 0;
  width: 50%;
  z-index: 4;
}

.container.active .sign-in{
  transform: translateX(100%);
  z-index: 1;
}


/*sign up*/
.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}


.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 2;
  animation: move 0.6s;
}

/*generalitaForm*/
.generalitaForm{

  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.generalita .generalitaForm{
  opacity:1;
  z-index: 3;
  transform: translateX(100%);
  animation: move 0.2s;

}

.ambitoClass{

  
  top: -480px;;
  width: 100%;
  opacity: 1;
  z-index: 11;
  
}

.contenitore {
  width: 100% !important;
  height: 100% !important;
  flex-wrap: wrap;
  display: flex;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container.ambito .ambitoClass{

  opacity:1;
  transform: translateY(480px);

}

.contenitoreB{
  display: flex;
  justify-content: center;
  width: 100% !important;
  height:10% !important;
}
.contenitoreA{

  display: flex;
  justify-content: space-between;
  
  width: 100% !important;
  height: 35% !important;
}

.contenitoreA div{
  
  margin: 5px;
}

@keyframes move{
  0%, 49.99%{
    opacity: 0;
    z-index: 1;
  }
  50%, 100%{
    opacity: 1;
    z-index: 2;
  }
}
.social-icons{
  margin: 10px 0;

}





.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition:all 0.6s ease-in-out;
  border-radius: 150px 0 0 150px;
  z-index: 10;
}
.container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}
.toggle{
  height: 100%;
  background: #512da8 linear-gradient(to right, #5c6bc0, rgb(81, 45, 168));
  color: #fff;
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.container.active .toggle{
  transform: translateX(50%);
}
.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.toggle-left{
  transform: translateX(-20%);
}
.container.active .toggle-left{
  transform: translateX(0);
}
.toggle-right{
  right : 0;
  transform: translateX(0);
}
.container.active .toggle-right{
  transform: translateX(200%);

}

@media only screen and (max-width:1024px){

  .container{

    width: 70vw;
   
  }
  .container *:not(h1){
    font-size: 12px !important;
  }
  
  .switch{
    cursor: pointer;
  }
  .switch p{
    width: 100%;
    height: 100%;
  }


  .toggle-container p:not(.switch)
  .toggle-container .toggle button,
  .toggle-container .toggle h1{

    display: none !important;
  }

  .toggle-container{
    border-radius: 0 0 0 0 ;
    width: 100%;
    left: 0px;
    height: 15%;
    transition: none !important;
    transform: none !important;
  }
  .container.active .toggle-container{
    border-radius: 0 0 0 0 ;
  }

  .contenitore{
    overflow: auto;
    flex-direction: column;
  }

  
  .sign-in,.sign-up,.generalitaForm,.ambitoClass{

    width: 100%;
  }

  .container.active .generalitaForm{
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
    animation: move 0.6s;
  }
  .container.generalita .generalitaForm{

    padding-top: 50px;
    opacity:1;
    z-index: 3;
    transform: translateX(0);
    animation: move 0.6s;
  
  }
  .sign-up {
    left: -100%;
    padding-top: 50px;
  }
  

  
}



