<div class="container">
    <div class="dati">
        <h3>Username: </h3><label></label>
        <h3>Email: </h3><label></label>
        <h3>Nome:</h3><label></label>
        <h3>Cognome: </h3><label></label>
        <h3>Indirizzo: </h3><label></label>
        <h3>Data di nascita: </h3><label></label>
        <h3>Ambito: </h3><label></label>
        <h3>Zona di competenza: </h3><label></label>
        <h3>Altre skills: </h3><label></label>
    
    </div>
    <div class="bottoni">

        
        <button>Accetta</button>
        <button>Modifica</button>
    </div>

</div>
