<div class="container">
    <div class="dati">
        <h3>Username:{{username}} </h3><label></label>
        <h3>Email: {{email}}</h3><label></label>
        <h3>Nome: {{nome}}</h3><label></label>
        <h3>Cognome: {{cognome}}</h3><label></label>
        <h3>Indirizzo: {{indirizzo}}</h3><label></label>
        <h3>Data di nascita: {{dataDiNascita | date: 'dd/MM/yyyy'}}</h3><label></label>
        <h3>Ambito: {{ambito}}</h3><label></label>
        <h3>Zona di competenza:{{zonaDiCompetenza}} </h3><label></label>
        <h3>Altre skills: </h3><label></label>

    </div>
    <div class="bottoni">


        <button (click)=goToAccount()> Accetta </button>
        <button> (click)=goToAccedi()> Modifica</button>
    </div>

</div>
