<script src="/assets/JS/recuperoPassword.js"></script>
<div class="alert alert-primary" role="alert">
  RECUPERA LA TUA PASSWORD INSERISCI LA TUA EMAIL PER IL RECUPERO
</div>


<form onSubmit="validate()" name="myForm">
  <div>EMAIL DI RECUPERO: <input type="input" name="email"></div>
  <button type="submit" class="btn btn-primary" style="background-color: #512da8">Invia</button>
</form>


<!--<button type="button" class="btn btn-primary" [ngStyle]="{'background-color': inputValidators.valid ? '#512da8':'grey'}">Invia</button>-->

