<div class="container" #container>
  <form [formGroup]="nuovoAnnuncioForm" (ngSubmit)="onSubmit()" class="containerForm">

    <div class="contenitoreB">

      <h1 style="margin-right: 10px;" *ngIf="!isModifica">CREA UN'ANNUNCIO   </h1>
      <h1 style="margin-right: 10px;" *ngIf="isModifica">MODIFICA UN'ANNUNCIO </h1>
    </div>

    <div class="contenitoreA">

      <h4>titolo dell'annuncio</h4>
      <mat-form-field class="matA">

        <input matInput placeholder="Ex. Pizza" value="Sushi" formControlName="titolo" *ngIf="!isModifica" >
        <input matInput placeholder="Ex. Pizza" [(ngModel)]="annuncioScelto.titolo" formControlName="titolo" *ngIf="isModifica">
      </mat-form-field>


    </div>

    <div class="contenitoreA">
      <h4>Descrizione sul lavoro e sulle abilità  richieste (opzionale) </h4>
      <mat-form-field class="matB">

        <textarea matInput style formControlName="descrizione" *ngIf="!isModifica"></textarea>
        <textarea matInput style formControlName="descrizione" *ngIf="isModifica" [(ngModel)]="annuncioScelto.descrizione"></textarea>
      </mat-form-field>
    </div>

    <div class="contenitoreA">
      <h4>Zona di lavoro</h4>

      <mat-form-field class="matA" *ngIf="isModifica">
        <mat-label>Favorite food</mat-label>
        <mat-select formControlName="provinciaAnnuncio" [(ngModel)]="annuncioScelto.provinciaAnnuncio">
          @for (pv of province; track pv) {
          <mat-option [value]="pv">{{pv}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="matA" *ngIf="!isModifica">
        <mat-label>Favorite food</mat-label>
        <mat-select formControlName="provinciaAnnuncio">
          @for (pv of province; track pv) {
          <mat-option [value]="pv">{{pv}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>


    <div class="contenitoreA">
      <h4>Ambito di lavoro</h4>

      <mat-form-field class="matA" *ngIf="!isModifica">
        <mat-label>Ambito</mat-label>
        <mat-select formControlName="ambito">
          @for (ab of ambiti; track ab) {
            <mat-option [value]="ab">{{ab.nome}}</mat-option>
            }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="matA" *ngIf="isModifica">
        <mat-label>Ambito</mat-label>
        <mat-select formControlName="ambito" [(ngModel)]="annuncioScelto.ambito">
          @for (ab of ambiti; track ab) {
            <mat-option [value]="ab">{{ab.id}}</mat-option>
            }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="contenitoreA">
      <h4>Imposta una data di scadenza</h4>
      <mat-form-field class="matA" >
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataScadenza" [min]="minDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>



    </div>

    <div class="contenitoreA">
      <h4>Carica una foto dell'annuncio (Opzionale)</h4>
      <input type="file" accept="image/*" (change)="onSelectFile($event)" style="width: 250px" >
      <div class="divImg" *ngIf="!isModifica"><img [src]="url" style="margin-right: 10px;" formControlName="img"></div>
      <div class="divImg" *ngIf="isModifica"><img [src]="annuncioScelto.img" style="margin-right: 10px;" formControlName="img"></div>
    </div>


    <div class="contenitoreB">

      <button mat-raised-button type="submit" [disabled]="!nuovoAnnuncioForm.valid"
              [ngStyle]="{'background-color': nuovoAnnuncioForm.valid ? '' : 'grey'}" *ngIf="!isModifica">Pubblica annuncio</button>

      <button mat-raised-button type="submit" [disabled]="!nuovoAnnuncioForm.valid"
              [ngStyle]="{'background-color': nuovoAnnuncioForm.valid ? '' : 'grey'}" *ngIf="isModifica">Modifica annuncio</button>
    </div>



  </form>

  <div class="anteprimaAnnuncio">

    <div class="descrizioneANDbutton">
      <div class="descrizione"><h2>Questa è la card del tuo annuncio, i lavoratori navigando nel sito potranno visualizzarla,
        e scegliere di aiutarti nelle tue esigenze</h2></div>
      <div class="buttons"><button mat-raised-button>Pubblica</button><button mat-raised-button (click)="eliminaAnteprima()">Modifica</button></div>
    </div>
    <div class="card" *ngIf="isModifica"><app-cards-vetrina [annunci]="cardAnnuncio"></app-cards-vetrina></div>


  </div>


</div>
