
<form [formGroup]="ambitoForm" (ngSubmit)="onSubmit()" class="containerForm">

    <div class="contenitoreB">
        
        <h1 style="margin-right: 10px;">CREA UN'ANNUNCIO   </h1>
    </div>

    <div class="contenitoreA">
        <form class="example-form">
            <h4>titolo dell'annuncio</h4>
            <mat-form-field class="matA"> 
              <mat-label>Titolo dell'annuncio</mat-label>
              <input matInput placeholder="Ex. Pizza" value="Sushi">
            </mat-form-field>
        </form>
        
    </div>
    
    <div class="contenitoreA">
        <h4>Descrizione sul lavoro e sulle abilità  richieste (opzionale) </h4>    
        <mat-form-field class="matA">
        <mat-label >Textarea</mat-label>
        <textarea matInput style></textarea>
        </mat-form-field>
    </div>

    <div class="contenitoreA">
        <h4>Zona di lavoro</h4>

        <mat-form-field class="matA">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              @for (pv of province; track pv) {
                <mat-option [value]="pv">{{pv}}</mat-option>
              }
            </mat-select>
        </mat-form-field>
    </div>
 
    
    <div class="contenitoreA">
        <h4>Ambito di lavoro</h4>
        <mat-form-field class="matA">
        <mat-label>Ambito</mat-label>
        <mat-select >
        <mat-option>None</mat-option>
        @for (ab of ambiti; track ab) {
            <mat-option [value]="ab">{{ab}}</mat-option>
        }
        </mat-select>
        </mat-form-field>
    </div>

    <div class="contenitoreA">
        <h4>Imposta una data di scadenza</h4>
        <mat-form-field class="matA">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataScadenza" [min]="minDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
    </div>

    <div class="contenitoreA">
        <h4>Carica una foto dell'annuncio (Opzionale)</h4>
        <input type="file" (change)="onSelectFile($event)" style="width: 250px">
        <div class="divImg"><img [src]="url" style="margin-right: 10px;"></div>
        
    </div>


    <div class="contenitoreB">
        <button mat-raised-button type="submit">Pubblica annuncio</button>
    </div>
    
</form>
