

    <!--<div class="header">
        <ul>
            <li><a routerLink="/Profilo">Profilo</a></li>
            <li><a routerLink="/Chat">Chat</a></li>
        </ul>
    </div>-->
    <div class="dashboard">
        <div class="leftPart">
            <div class="picProfile">
                <img src={{getPicProfile()}}>
            
            <label for="fileInput">
            <fa-icon [icon]="pencil" size="2x" (click)="onSelectFile($event)"> </fa-icon>
            </label>  
            </div>
            <input type="file" id="fileInput" (change)="onSelectFile($event)">
            <div class="data">
                    <ul>
                        <li>Nome:</li>
                        <li>Cognome:</li>
                        <li>Data di nascita:</li>
                        <li>Indirizzo:</li>
                        <li *ngIf="entita==='Lavoratore'">Zona di competenza:</li>
                        <li *ngIf="entita==='Lavoratore'">Ambiti:</li>
                        <li *ngIf="entita==='Lavoratore'">Altre informazioni</li>
                        
                     

                    </ul>
            </div>
        </div>
        <div class="rightPart">

            <div class="notifiche">
                <div class="inbox">
                    <h2 style=" float: left;">Inbox</h2>
                </div>

            </div>
                
            <div class="cronoChat">
                <h2 style="align-self: flex-start;">Annunci Finalizzati</h2>
                <h2 style="align-self: flex-start;" *ngIf="entita==='Lavoratore'">Le tue proposte di lavoro</h2>
                <div *ngFor="let annuncio of annunci; index as i">
        
                    <div class="cardAnnuncio">
                        
                        <input class="proposteBtn" id="proposteBtn{{i}}" type="checkbox">
                        <label for="proposteBtn{{i}}" class="cardAnnuncio">
        
                        <div class="imgCard" ><img src="{{annuncio.img}}"></div>
                        <div class="titoloDesc">
                            <div class="titoloCard">{{annuncio.titolo}}</div>
                            <div class="descrizioneCard">{{annuncio.descrizione}}</div>
                        </div>
                        </label>
                        </div>
                </div>         

            
            </div>
        </div>

        <app-recensioni></app-recensioni>

    
</div>

