<div class="header">
    <ul>
        <li><a>Profilo</a></li>
        <li><a>Annunci</a></li>
    </ul>
</div>
<div class="dashboard">
    <div class="leftPart">
        <div class="picProfile">
            <img src="../../../assets/default.jpg" style="height: auto; width: 100%; ">
        </div>
        <div class="data">
                <ul>
                    <li>Nome:</li>
                    <li>Cognome:</li>
                    <li>Data di nascita:</li>
                    <li>Indirizzo:</li>
                    <fa-icon [icon]="pencil" size="2x" style="float: right;"></fa-icon>
                </ul>
        </div>
    </div>
    <div class="rightPart">

        <div class="cronoChat">
            <div class="singleChat">
                <div class="divImgChat"><img src="../../../assets/default.jpg" style="height: 100%; max-height: 100px; float: right;"></div>
                <div class="divTextChat">xisnxnsnxxisnxxnsxixnsinxinxisnsxsxsxsxssxssxsx</div>
            </div>
        </div>
        <div class="buttonRow">
            <div class="buttonColumn"><button>Gestisci Annunci</button></div>
        </div>
    </div>
</div>