<div class="flex flex-col yZKmUAT">
  <div class="hxhINzI">
    <section class="flex flex-row-reverse flex-between flex-items-center BVX66eb flex-justify-end">
    </section>
  </div>
  <div class="15BEmQs">
    <section class="flex flex-row-reverse flex-between flex-items-center BVX66eb flex-justify-end">
      <section class="dlt3xR7">
        <section class ="SyY7L6M">
          <h4 class ="_1Vyz1zl">Create a new account</h4>

        </section>

      </section>
    </section>
  </div>




</div>
